{% extends 'blog/base.html' %}

{% block content %}
    <div class="post">
        {% if post.data_publicacao %}
            <div class="date">
                {{ post.data_publicacao }}
            </div>
        {% endif %}
        {% if user.is_authenticated %}
     <a class="btn btn-default" href="{% url 'post_edit' pk=post.pk %}"><span class="glyphicon glyphicon-pencil"></span></a>
{% endif %}
        <h1>{{ post.titulo }}</h1>
        <p>{{ post.texto|linebreaksbr }}</p>
    </div>
{% endblock %}